* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #ecefca;
}

.main-header,
footer {
  background-color: #94b4c1;
  color: #213448;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.main-header nav a {
  color: #213448;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.3s ease;
}

.main-header nav a:hover {
  background-color: #ecefca;
  color: #213448;
  border-radius: 4px;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.left-column,
.right-column {
  background-color: #547792;
  padding: 1rem;
}

.center-column {
  background-color: #213448;
  color: #ecefca;
  padding: 2rem;
}

.center-column blockquote {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 4px solid #ecefca;
}

.left-column,
.right-column {
  list-style: square;
  padding-left: 1.5rem;
  /* margin-top: 0.5rem; */
}

.left-column li,
.right-column li {
  margin-bottom: 0.25rem;
}

.right-column a {
  color: #ecefca;
  text-decoration: none;
}

.right-column a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
}

.github-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-bottom: 0.3rem;
  transition: transform 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-pic {
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.intro-text {
  flex: 1;
  line-height: 1.6;
  color: #ecefca;
}

.profile-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}
